body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

/*HEADER */

#titulua {
    text-align: center;
}

.filtro_elementuak {
    display: flex;
    justify-content: center;
}

.filtro_elementuak button {
    margin-right: 12px;
    width: 80px;
    height: 80px;
}
